<div class="comment">
    <div class="comment-user">
      <div class="comment-user-name">
        <%= comment.user.nickname %>
      </div>
      <div class="current-time">
        <%= comment.created_at %>
      </div>
    </div>
    <div class="comment-content">
      <%= comment.text %>
    </div>
</div>