<div class="event-header">
  <div class=event-name>hogefuga</div>
  <div class="event-destroy">
    <%= link_to 'チャットを終了する', '#' %>
  </div>
</div>

<div class="event-main">
</div>

<div class="form">
</div>