<div class="side-header">
  <%= link_to current_user.nickname, edit_user_path(current_user), class:"user-name" %>
  <%= link_to '表を作成する', '#', class:"table-create" %>
</div>

<div class="side-main">
  <div class="department">
    <%= link_to 'testroom1', '#', class:"department-name" %>
  </div>
  <div class="department">
    <%= link_to 'testroom2', '#', class:"department-name" %>
  </div>
</div>

