<div class="side-header">
  <%= link_to current_user.nickname, edit_user_path(current_user), class:"user-name" %>
  <%= link_to '表を作成する', new_department_path, class:"table-create" %>
</div>

<div class="side-main">
    <% @departments.each do |department| %>
      <div class="department">
        <%= link_to department.name, '#', class: "department-name" %>
      </div>
    <% end %>
</div>

