/* 全体 */
.wrapper {
  display: flex;
}

/* エラー表示 */
.error-alert ul {
  margin: 20px 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.error-message {
  list-style-position: inside;
  list-style-type: disc;
}

/* サイドバー・全体 */
.side-bar {
  background-color: #000066;
  width: 300px;
  height: 100vh;
}

/* サイド・ヘッダー */
.side-header {
  height: 100px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.user-name {
  font-size: 16px;
  color: #FAFAFA;
  text-decoration: none;
}

.table-create {
  font-size: 10px;
  color: deepskyblue;
  border: 1px solid lightblue;
  padding: 14px;
  text-decoration: none;
}

/* サイド・メイン */
.side-main {
  height: calc(100vh - 100px);
  background-color: #000099;
  padding: 0 20px;
  overflow: scroll;
}

.department {
  padding: 20px 0 40px;
}

.department-name {
  color: white;
  text-decoration: none;
}
/* メイン・全体 */
.event {
  background-color: #FFFFFF;
  width: calc(100vw - 300px);
}

/* メイン・ヘッダー */
.event-header {
  height: 100px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
}

.event-name {
  font-size: 24px;
  color: #333;
  margin-top: 36px;
}

.event-destroy {
  margin-top: 20px;
}

/* 削除ボタンの表示 */
.button {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ff0000;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 5px 5px 3px #666666;  /* 影の設定 */
  border        : 2px solid #ff0000;    /* 枠の指定 */
}
.button:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ff0000;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

/* メイン・イベント */
.event-main {
  height: calc(100vh - 100px - 90px);
  background-color: #fafafa;
  padding: 40px 40px 0;
  overflow: scroll;
}

.comment {
  margin-bottom: 40px;
}

.comment-user {
  display: flex;
  margin: 10px 0;
}

.comment-user-name {
  color: #434A54;
  font-size: 16px;
  padding-right: 10px;
}

.current-time {
  color: #999;
  font-size: 12px;
}

.comment-content {
  color: #434A54;
  font-size: 14px;
}

/* メイン・フォーム */
.form {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
  display: flex;
}

.form-comment {
  width: 100%;
  background-color: white;
  display: flex;
}

.form-input {
  padding-left: 10px;
  height: 50px;
  width: 100%;
  border: none;
}

.form-image {
  font-size: 12px;
  background-color: lightblue;
  color: white;
  padding: 12px;
  width: 60px;
  margin: 5px 10px;
  text-align: center;
}

.hidden {
  display: none;
}

.form-submit {
  height: 50px;
  padding: 0 20px;
  color: white;
  font-size: 16px;
  background-color: #38AEF0;
  border: none;
  margin-left: 15px;
}

/* 新規予定追加画面 */
.event-form {
  width: 980px;
  margin: 60px auto;
  padding: 80px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
}

.plan-name {
  text-align: center;
  font-size: 35px;
  letter-spacing: 2px;
}

.time {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.time-name {
  letter-spacing: 2px;
  padding-right: 15px;
}

.time select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 12px;
  cursor: pointer;
}

textarea {
  height: 300px;
}

.submit {
  text-align: center;
}

/* 時間 */
.start_time {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
}

.end_time {
  display: flex;
  justify-content: space-evenly;
}

.days {
  text-align: right;
}

/* 予定追加ボタン */
.show-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #1a1aff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #1a1aff;    /* 枠の指定 */
}

.show-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #1a1aff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

/* 詳細画面 */
.show-table{
  margin-top: 50px;
}

.heading {
  letter-spacing: 2px;
}

.transition {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}


/* 編集画面へボタン */
.edit-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #1a1aff;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #1a1aff;    /* 枠の指定 */
}

.edit-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #1a1aff;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

/* 削除ボタン */
.delete-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #ff0000;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #ff0000;    /* 枠の指定 */
}
.delete-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #ff0000;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}

/* 戻るボタン */
.back {
  text-align: center;
  margin-top: 50px;
}

.back-btn {
  display       : inline-block;
  border-radius : 5%;          /* 角丸       */
  font-size     : 18pt;        /* 文字サイズ */
  text-align    : center;      /* 文字位置   */
  cursor        : pointer;     /* カーソル   */
  padding       : 12px 12px;   /* 余白       */
  background    : #999999;     /* 背景色     */
  color         : #ffffff;     /* 文字色     */
  line-height   : 1em;         /* 1行の高さ  */
  transition    : .3s;         /* なめらか変化 */
  box-shadow    : 6px 6px 3px #666666;  /* 影の設定 */
  border        : 2px solid #999999;    /* 枠の指定 */
}
.back-btn:hover {
  box-shadow    : none;        /* カーソル時の影消去 */
  color         : #999999;     /* 背景色     */
  background    : #ffffff;     /* 文字色     */
}


/*   jQuery吹き出し機能用・未実装 
ui-tooltip {
  font-size: 14px;
  width: 250px;
}

.tooltipClose {
float: right;
font-size: 20px;
margin-top: -10px;
}                          */